<form action="/new" method="post">

    <input type="text" name="fullname" placeholder="write your fullname">
    <input type="text" name="email" placeholder="write your email">
    <input type="text" name="phone" placeholder="write your phone">

    <button>Save</button>

</form>

<div>
    {% for contact in contacts %}

    <div>
        <h5>{{contact.fullname}}</h5>
        <div>
            <a href="{{ url_for('contacts.update_contact') }}">Update</a>
            <a href="{{ url_for('contacts.delete_contact') }}">Delete</a>
        </div>
        <p>{{contact.email}}</p>
        <p>{{contact.phone}}</p>
    </div>

    {%  endfor %}

</div>